# Environment
.env
backend/venv/
backend/**/__pycache__/
backend/.env
backend/*.db
backend/static/uploads/*
!backend/static/uploads/.gitkeep

# Backups
backups/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
